NET "io_seg<0>" LOC = P5 | IOSTANDARD = LVTTL;
NET "io_seg<1>" LOC = P8 | IOSTANDARD = LVTTL;
NET "io_seg<2>" LOC = P144 | IOSTANDARD = LVTTL;
NET "io_seg<3>" LOC = P143 | IOSTANDARD = LVTTL;
NET "io_seg<4>" LOC = P2 | IOSTANDARD = LVTTL;
NET "io_seg<5>" LOC = P6 | IOSTANDARD = LVTTL;
NET "io_seg<6>" LOC = P1 | IOSTANDARD = LVTTL;
NET "io_seg<7>" LOC = P141 | IOSTANDARD = LVTTL;

NET "io_sel<0>" LOC = P9 | IOSTANDARD = LVTTL;
NET "io_sel<1>" LOC = P10 | IOSTANDARD = LVTTL;
NET "io_sel<2>" LOC = P7 | IOSTANDARD = LVTTL;
NET "io_sel<3>" LOC = P12 | IOSTANDARD = LVTTL;

NET "io_sel<4>" LOC = P17 | IOSTANDARD = LVTTL;
NET "io_sel<5>" LOC = P16 | IOSTANDARD = LVTTL;
NET "io_sel<6>" LOC = P15 | IOSTANDARD = LVTTL;
NET "io_sel<7>" LOC = P14 | IOSTANDARD = LVTTL;

NET "io_sel<8>" LOC = P24 | IOSTANDARD = LVTTL;
NET "io_sel<9>" LOC = P23 | IOSTANDARD = LVTTL;
NET "io_sel<10>" LOC = P22 | IOSTANDARD = LVTTL;
NET "io_sel<11>" LOC = P21 | IOSTANDARD = LVTTL;

NET "io_sel<12>" LOC = P30 | IOSTANDARD = LVTTL;
NET "io_sel<13>" LOC = P29 | IOSTANDARD = LVTTL;
NET "io_sel<14>" LOC = P27 | IOSTANDARD = LVTTL;
NET "io_sel<15>" LOC = P26 | IOSTANDARD = LVTTL;

NET "buttonup" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "buttondown" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonleft" LOC = P34 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonright" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;