NET "io_seg[0]" LOC = P5;
NET "io_seg[0]" IOSTANDARD = LVTTL;
NET "io_seg[1]" LOC = P8;
NET "io_seg[1]" IOSTANDARD = LVTTL;
NET "io_seg[2]" LOC = P144;
NET "io_seg[2]" IOSTANDARD = LVTTL;
NET "io_seg[3]" LOC = P143;
NET "io_seg[3]" IOSTANDARD = LVTTL;
NET "io_seg[4]" LOC = P2;
NET "io_seg[4]" IOSTANDARD = LVTTL;
NET "io_seg[5]" LOC = P6;
NET "io_seg[5]" IOSTANDARD = LVTTL;
NET "io_seg[6]" LOC = P1;
NET "io_seg[6]" IOSTANDARD = LVTTL;
NET "io_seg[7]" LOC = P141;
NET "io_seg[7]" IOSTANDARD = LVTTL;

NET "io_sel[0]" LOC = P9;
NET "io_sel[0]" IOSTANDARD = LVTTL;
NET "io_sel[1]" LOC = P10;
NET "io_sel[1]" IOSTANDARD = LVTTL;
NET "io_sel[2]" LOC = P7;
NET "io_sel[2]" IOSTANDARD = LVTTL;
NET "io_sel[3]" LOC = P12;
NET "io_sel[3]" IOSTANDARD = LVTTL;

NET "io_sel[4]" LOC = P17;
NET "io_sel[4]" IOSTANDARD = LVTTL;
NET "io_sel[5]" LOC = P16;
NET "io_sel[5]" IOSTANDARD = LVTTL;
NET "io_sel[6]" LOC = P15;
NET "io_sel[6]" IOSTANDARD = LVTTL;
NET "io_sel[7]" LOC = P14;
NET "io_sel[7]" IOSTANDARD = LVTTL;

NET "io_sel[8]" LOC = P24;
NET "io_sel[8]" IOSTANDARD = LVTTL;
NET "io_sel[9]" LOC = P23;
NET "io_sel[9]" IOSTANDARD = LVTTL;
NET "io_sel[10]" LOC = P22;
NET "io_sel[10]" IOSTANDARD = LVTTL;
NET "io_sel[11]" LOC = P21;
NET "io_sel[11]" IOSTANDARD = LVTTL;

NET "io_sel[12]" LOC = P30;
NET "io_sel[12]" IOSTANDARD = LVTTL;
NET "io_sel[13]" LOC = P29;
NET "io_sel[13]" IOSTANDARD = LVTTL;
NET "io_sel[14]" LOC = P27;
NET "io_sel[14]" IOSTANDARD = LVTTL;
NET "io_sel[15]" LOC = P26;
NET "io_sel[15]" IOSTANDARD = LVTTL;

NET "buttondown" LOC = P40;
NET "buttondown" IOSTANDARD = LVTTL;
NET "buttondown" PULLUP;
NET "buttonleft" LOC = P34;
NET "buttonleft" IOSTANDARD = LVTTL;
NET "buttonleft" PULLUP;
NET "buttonup" LOC = P32;
NET "buttonup" IOSTANDARD = LVTTL;
NET "buttonup" PULLUP;
